*{
    margin:0;
    padding:0;
    box-sizing: border-box;
      
    list-style: none;
    text-decoration: none;
}

body{
    font-size:14px;
    font-family: monospace;
    /* cursor: url("red.png"), auto;  */
}

main{
    background-color: rgb(0, 0, 0);
    width:100vw;
    height:100vh;
    transition:400ms ease;
}

a{
    color:rgb(216, 7, 7); 
    outline:none; 
}
a:hover{
    color:rgb(255, 0, 0); 
    text-decoration:underline; 
}
a:focus{
    color:orange; 
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------------------------- */

#chessboard{
    padding:10px;
    margin:10px; 
    border: 2px solid red; 
    transition: ease 1000ms; 
}

#chessboard .row{
    /* background-color: rgba(255, 255, 255, 0.993); */
    display: flex;
}

#chessboard .cell{
    width:35px;
    height:35px;
    cursor: pointer;
}
#chessboard .cell:hover{
    background-color:red;
}

#chessboard .cell-black{
    background-color: black;
}

#chessboard .cell-white{
    background-color: white;
}
/* --------------------------------- */

/* SECTION */
section{
    position: absolute;
    top:0;
    left:0;
    padding:20px;
    line-height: 1.5rem;
    color:grey;
    width:100vw;
    height:100vh;
    transition:400ms ease;
}
/* --------------------------------- */
